* {
    margin: 0;
    padding: 0;
}

:root {
    --navbar-height: 60px;
}

#logo img {
    margin: 11px 20px;
    height: 70px;
    border-radius: 60%;
}

#navbar {
    display: flex;
    position: relative;
    align-items: center;
    top: 0px;
}

#navbar ul {
    display: flex;

}

#navbar::before {
    content: "";
    background-color: green;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#navbar ul li {
    list-style: none;
    font-size: 1rem;
    font-weight: bold;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 4px 20px;
    border-radius: 20px;
    font-family: 'courier new', courier, monospace;
    font-size: 20px;
    font-weight: 600px;
}

#navbar ul li a:hover {
    background-color: white;
    color: green;
    transition: 0.5s;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url("../image/picture.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#home h1 {
    font-size: 2.25rem;
    color: green;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#home p {
    font-size: 1.25rem;
    color: black;
    text-align: center;
    margin: 10px;
    line-height: 40px;
    font-weight: 500px;
}

.btn {
    border: 2px solid green;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 50px;
    font-size: 1rem;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: green;
    transition: 0.1s;
}

.center {
    text-align: center;
}

#services {
    margin: 30px 100px;
    display: flex;
}

#services .box {
    border: 2px solid green;
    padding: 25px;
    margin: 20px 20px;
    border-radius: 10px;
    background-color: rgb(183, 241, 183);
}

h1.h-primary {
    font-size: 2rem;
    color: green;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

#services .box img {
    height: 150px;
    margin: auto;
    display: block;
}

#services .box:hover {
    box-shadow: 0 0 10px green;
    transition: 0.3s;
}

#services .box img {
    height: 150px;
    margin: auto;
    display: block;
}

#products-section {
    margin-bottom: 35px;
    position: relative;
}

#products-section::before {
    content: "";
    background: url("../image/back.png") no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

#products img {
    height: 150px;
    border-radius: 20%;
    padding: 30px;
}

#items {
    padding: 14px;
}

#products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#products-section h1 {
    font-size: 2rem;
    color: green;
    margin: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

#contact h1 {
    padding: 30px 0;
}

#contact::before {
    content: "";
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: -1;
    opacity: 0.7;
    background: url("../image/contact.jpg") no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#contact-box input,
#contact-box textarea {
    display: flex;
    width: 70%;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0.5rem;
    border-radius: 25px;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#contact-box form {
    min-height: 50vh; 
    width: 40%;
    justify-content: center;
    align-items: center;
}

.cbtn {
    padding: 14px 31px;
    border: 2px solid green;
    background-color: green;
    color: white;
    margin: 17px;
    width: 70%;
    font-size: 1.1rem;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.cbtn:hover {
    background-color: white;
    color: green;
    transition: 0.3s;
}
footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
#products img{
    animation: SK-Carts;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes SK-Carts {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}