#navbar{
    flex-direction: column;
}
#navbor ul li a{
    font-size: 0.8rem;
    padding: 3px 7px;
}
#home {
    height: 320px;
    padding: 3px 50px;
}
#home::before {
    height: 450px;
}
#home p{
    font-size: 15px;
    line-height: 100%;
}
#services{
    flex-direction: column;
}
#services .box{
    padding: 30px;
    margin: 2px;
    margin-bottom: 20px;
}
#products{
    flex-wrap: wrap;
}
#products img{
    width: 100px;
    height: auto;
    padding: 20px;
}
#contact-box{
    width: 80%;
    flex-direction: column;
    align-items: center;
}
footer p{
    font-size: 0.8rem;
    align-items: center;
    text-align: center;
}